USE [MuOnline15]
GO
/****** Object:  StoredProcedure [dbo].[WZ_CustomRanking]    Script Date: 19/03/2024 09:17:57 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE	[dbo].[WZ_CustomRanking]
	@type		SMALLINT
As
Begin
	
	SET NOCOUNT ON	

	IF @type = 0 
	BEGIN
			SELECT TOP 20 CH.name AS VALUE1, CH.masterresetcount AS VALUE2, CH.Class AS VALUE3, MI.AccountLevel AS VALUE4 FROM Character CH JOIN MEMB_INFO MI ON CH.AccountId = MI.memb___id ORDER BY CH.MasterResetCount DESC, CH.ResetCount DESC, CH.cLevel DESC
	END
	
	IF @type = 1 
	BEGIN
			SELECT TOP 20 CH.name AS VALUE1, CH.resetcount AS VALUE2, CH.Class AS VALUE3, MI.AccountLevel AS VALUE4 FROM Character CH JOIN MEMB_INFO MI ON CH.AccountId = MI.memb___id ORDER BY CH.ResetCount DESC, CH.cLevel DESC
	END
	
	IF @type = 2 
	BEGIN
			SELECT TOP 20 CH.name AS VALUE1, CH.cLevel AS VALUE2, CH.Class AS VALUE3, MI.AccountLevel AS VALUE4 FROM Character CH JOIN MEMB_INFO MI ON CH.AccountId = MI.memb___id ORDER BY CH.cLevel DESC
			--SELECT TOP 20 name AS VALUE1, cLevel AS VALUE2, Class AS VALUE3 FROM Character ORDER BY cLevel DESC
	END
	
	IF @type = 3 
	BEGIN
			SELECT TOP 20 RC.name AS VALUE1, RC.Score AS VALUE2, CH.Class AS VALUE3, MI.AccountLevel AS VALUE4 FROM RankingBloodCastle RC JOIN Character CH ON RC.name = CH.name JOIN MEMB_INFO MI ON CH.AccountId = MI.memb___id ORDER BY RC.Score DESC
			--Select top 20 name as VALUE1, Score as VALUE2 from RankingBloodCastle order by Score desc
	END
	
	IF @type = 4 
	BEGIN
			SELECT TOP 20 RD.name AS VALUE1, RD.Score AS VALUE2, CH.Class AS VALUE3, MI.AccountLevel AS VALUE4 FROM RankingDevilSquare RD JOIN Character CH ON RD.name = CH.name JOIN MEMB_INFO MI ON CH.AccountId = MI.memb___id ORDER BY RD.Score DESC
			--Select top 20 name as VALUE1, Score as VALUE2 from RankingDevilSquare order by Score desc
	END
	
	IF @type = 5 
	BEGIN
			SELECT TOP 20 CH.name AS VALUE1, CH.Power AS VALUE2, CH.Class AS VALUE3, MI.AccountLevel AS VALUE4 FROM Character CH JOIN MEMB_INFO MI ON CH.AccountId = MI.memb___id ORDER BY CH.Power DESC
	END
	--WAITFOR DELAY '00:00:02';

	SET NOCOUNT OFF	
	
IF @@ROWCOUNT= 0 
    RAISERROR ('TYPE NOT EXISTS', 50000, 1)
End